autopep8
pandas
ipykernel
openpyxl
numpy==1.26.4
twikit
requests
beautifulsoup4
scikit-learn
scipy
matplotlib
seaborn
plotly
nbformat
ipython
statsmodels
kaleido
nltk
scikit-surprise
gensim
transformers
torch